header{
    text-align:center;
  	padding:10px;
  	color: gold;
  	background: #222;
}
  
#conteudo{
  	margin: 10px 0;
 	padding: 15px;
}
 
footer{
 	text-align: center;
 	padding: 10px;
 	color: #777;
 	background: #ccc;
}
